'welcome':
  'showOnStartup': false
'editor':
  'tabLength': 4
  'autoIndent': true
  'autoIndentOnPaste': false
  'softWrap': true
  'fontSize': 12
  'showInvisibles': true
  'showIndentGuide': true
  'showLineNumbers': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/cwoebker/Dropbox/Code'
'exception-reporting':
  'userId': '5c9446b9-5451-6749-2d7f-6f3df5d3685c'
'release-notes':
  'viewedVersion': '0.73.0'
'metrics':
  'userId': 'fe53b692cd647baa062280033e814deddea25df0'
'whitespace':
  'ensureSingleTrailingNewline': true
  'removeTrailingWhitespace': true
