/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

@import 'ui-variables';

.tree-view {

}

.atom-text-editor {

}

.atom-text-editor .cursor {

}

.atom-text-editor::shadow .highlight {
  &.linter-info .region {
    background: linear-gradient(
      to bottom,
      @background-color-info 0%,
      fadeout(@background-color-info, 70%) 20%,
      fadeout(@background-color-info, 70%) 80%,
      @background-color-info 100%);
    border-left: 2px solid @background-color-info;
    border-right: 2px solid @background-color-info;
  }
  &.linter-warning .region {
    background: linear-gradient(
      to bottom,
      @background-color-warning 0%,
      fadeout(@background-color-warning, 70%) 20%,
      fadeout(@background-color-warning, 70%) 80%,
      @background-color-warning 100%);
    border-left: 2px solid @background-color-warning;
    border-right: 2px solid @background-color-warning;
  }
  &.linter-error .region {
    background: linear-gradient(
      to bottom,
      @background-color-error 0%,
      fadeout(@background-color-error, 70%) 20%,
      fadeout(@background-color-error, 70%) 80%,
      @background-color-error 100%);
    border-left: 2px solid @background-color-error;
    border-right: 2px solid @background-color-error;
  }
}

// Git commit message mark too long
.atom-text-editor .git-commit.line-too-long.deprecated {
  color: orange;
  text-decoration: none;
}

.atom-text-editor .git-commit.line-too-long.illegal {
  color: #fff;
  background: #DA2C43;
  opacity: 0.9;
}

// modiefied files bold
.tree-view .entry.directory.status-modified > .header,
.tree-view .entry.file.status-modified {
  font-weight: bold;
}

// styled http links
.atom-text-editor .markup.underline.link.hyperlink {
  color: #F9EE98;
  text-decoration: underline;
}
